streamlit>=1.25.0
beautifulsoup4
pandas
lxml
requests
nltk
https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/tokenizers/punkt_tab.zip
scikit-learn
streamlit-aggrid
sumy
transformers
torch
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm
